In [659]:
import pandas as pd
import numpy as np

In [660]:
Prospect_df = pd.read_csv("Prospect_DS.csv")
Visitor_df = pd.read_csv("Visitor_Activity_DS.csv")

In [661]:
Prospect_df.head()

,Prospect_ID,Campaign_ID,Company,Job_Title,Score,Source,Lead_Status
0,18258198,2013,Brock Tech,Chief of Digital Marketing,65,Website,Open
1,18441354,2005,Myxable Co.,Financial Analyst,66,Twitter,Open
2,18642577,2009,Polymeris,Procurement Manager,60,Website,Qualified
3,18664142,2009,HeidieX,Procurement Manager,65,Instagram,Open
4,18344212,2013,Myxable Co.,Senior Director of B2B Marketing,72,Instagram,Closed

In [662]:
Prospect_df["Campaign_ID"].value_counts()

2005    281
2019    273
2009    262
2016    251
2000    249
2013    238
2004    234
2001    211
Name: Campaign_ID, dtype: int64

In [663]:
Prospect_df["Company"].value_counts()

WestLand's Incorporated    186
Brock Tech                 180
Circuit City               177
Gooyer                     175
Myxable Co.                164
Lexinton Rig Inc           164
Polymeris                  163
Bryxham                    163
HeidieX                    162
Regalchain                 161
Landon's                   158
Marxel                     146
Name: Company, dtype: int64

In [664]:
Prospect_df["Job_Title"].value_counts()

Data Scientist                      168
Head of Learning and Development    149
VP of Business                      143
Manager of Business Development     140
Financial Analyst                   138
Director of Marketing               137
Contingent Worker                   135
Senior Director of B2B Marketing    133
VP of Daily Operations              133
Business Analyst                    128
Chief of Digital Marketing          127
CEO                                 124
President                           119
Head of Human Resources             113
Procurement Manager                 112
Name: Job_Title, dtype: int64

In [665]:
Prospect_df["Source"].value_counts()

Facebook     306
Twitter      302
LinkedIn     301
Email        274
Webinar      273
Instagram    272
Website      271
Name: Source, dtype: int64

In [666]:
Prospect_df["Lead_Status"].value_counts()

Qualified     525
Open          511
Contacting    495
Closed        468
Name: Lead_Status, dtype: int64

In [667]:
Visitor_df.head()

,ID,Prospect_ID,Campaign_ID,Type,Activity_Name,Activity_Details
0,4165912938,18699388,2001,Open,Email,Register for this new deal
1,7840461777,18247652,2016,Open,Email,Three Keys to your success
2,7547436225,18280877,2001,Open,Email,Register for this new deal
3,2255817798,18858552,2013,Open,Email,Three Keys to your success
4,8032011595,18686014,2000,Open,Email,Monthly overview

In [668]:
len(Visitor_df["Prospect_ID"].value_counts())

1996

In [669]:
p_ids=Prospect_df["Prospect_ID"]

In [670]:
View = []
Registered_Webinar=[]
Click = []
Open = []
Attended_Webinar=[]
Resubscribed=[]
Unsubscribe_Page=[]
Bounced=[]
Success=[]
Spam_Complaint=[]

In [671]:
for p_id in p_ids:
    type_list = Visitor_df[Visitor_df["Prospect_ID"]==p_id]["Type"].to_list()
    View.append(type_list.count("View"))
    Registered_Webinar.append(type_list.count("Registered Webinar"))
    Click.append(type_list.count("Click"))
    Open.append(type_list.count("Open"))
    Attended_Webinar.append(type_list.count("Attended Webinar"))
    Resubscribed.append(type_list.count("Resubscribed"))
    Unsubscribe_Page.append(type_list.count("Unsubscribe Page"))
    Bounced.append(type_list.count("Bounced"))
    Success.append(type_list.count("Success"))
    Spam_Complaint.append(type_list.count("Spam Complaint"))

In [672]:
Prospect_df["type_open"]=Open
Prospect_df["type_view"]=View
Prospect_df["type_registered_webinar"]=Registered_Webinar
Prospect_df["type_attended_webinar"]=Attended_Webinar
Prospect_df["type_click"]=Click
Prospect_df["type_resubscribed"]=Resubscribed
Prospect_df["type_unsubscribe_page"]=Unsubscribe_Page
Prospect_df["type_bounced"]=Bounced
Prospect_df["type_success"]=Success
Prospect_df["type_spam_complaint"]=Spam_Complaint

In [673]:
Visitor_df["Type"].value_counts()

View                  2348
Registered Webinar     546
Click                  458
Open                   194
Attended Webinar       170
Resubscribed           122
Unsubscribe Page        58
Bounced                 51
Success                 27
Spam Complaint          25
Name: Type, dtype: int64

In [674]:
Visitor_df["Activity_Name"].value_counts()

Page View               1060
Webinar                  716
File                     492
Email Tracker            458
Email                    450
Multivariate Landing     425
Form                     398
Name: Activity_Name, dtype: int64

In [675]:
Visitor_df["Activity_Details"].value_counts()

Product                                      495
12 Questions Answered About AI               340
Contact Us                                   277
www.xyz.com                                  276
Service                                      238
Three Keys to your success                   220
How To Win Buyers And Influence SalesÂ        179
The Hidden Mystery Behind AI                 167
File C                                       164
Register for this new deal                   132
Form D                                       129
Form A                                       106
File B                                       105
Whitepaper                                    98
Monthly overview                              98
www.xyz.whitepaper                            97
www.xyz.contactus                             85
Form C                                        77
File A                                        72
Infographic                                   53
Form E                                        50
Team                                          50
Form B                                        36
10 Secret Things You Didn't Know About AI     30
Name: Activity_Details, dtype: int64

In [676]:
Prospect_df.head()

,Prospect_ID,Campaign_ID,Company,Job_Title,Score,Source,Lead_Status,type_open,type_view,type_registered_webinar,type_attended_webinar,type_click,type_resubscribed,type_unsubscribe_page,type_bounced,type_success,type_spam_complaint
0,18258198,2013,Brock Tech,Chief of Digital Marketing,65,Website,Open,0,1,1,0,0,0,0,0,0,0
1,18441354,2005,Myxable Co.,Financial Analyst,66,Twitter,Open,0,2,0,0,0,0,0,0,0,0
2,18642577,2009,Polymeris,Procurement Manager,60,Website,Qualified,0,1,0,0,1,0,0,0,0,0
3,18664142,2009,HeidieX,Procurement Manager,65,Instagram,Open,0,2,0,0,0,0,0,0,0,0
4,18344212,2013,Myxable Co.,Senior Director of B2B Marketing,72,Instagram,Closed,0,1,1,0,0,0,0,0,0,0

In [677]:
Prospect_df = Prospect_df[(Prospect_df["Lead_Status"] == "Qualified") | (Prospect_df["Lead_Status"] == "Closed") ]

In [678]:
Prospect_df.head()

,Prospect_ID,Campaign_ID,Company,Job_Title,Score,Source,Lead_Status,type_open,type_view,type_registered_webinar,type_attended_webinar,type_click,type_resubscribed,type_unsubscribe_page,type_bounced,type_success,type_spam_complaint
2,18642577,2009,Polymeris,Procurement Manager,60,Website,Qualified,0,1,0,0,1,0,0,0,0,0
4,18344212,2013,Myxable Co.,Senior Director of B2B Marketing,72,Instagram,Closed,0,1,1,0,0,0,0,0,0,0
6,18426335,2005,Brock Tech,Procurement Manager,96,Website,Qualified,0,1,0,0,0,1,0,0,0,0
7,18700999,2000,WestLand's Incorporated,CEO,66,Website,Closed,0,2,0,0,0,0,0,0,0,0
8,18639262,2019,Marxel,VP of Daily Operations,50,Facebook,Closed,0,0,1,0,1,0,0,0,0,0

In [679]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [680]:
Prospect_df = handle_non_numerical_data(Prospect_df)

In [681]:
Prospect_df.head()

,Prospect_ID,Campaign_ID,Company,Job_Title,Score,Source,Lead_Status,type_open,type_view,type_registered_webinar,type_attended_webinar,type_click,type_resubscribed,type_unsubscribe_page,type_bounced,type_success,type_spam_complaint
2,18642577,2009,6,11,60,0,1,0,1,0,0,1,0,0,0,0,0
4,18344212,2013,9,12,72,4,0,0,1,1,0,0,0,0,0,0,0
6,18426335,2005,4,11,96,0,1,0,1,0,0,0,1,0,0,0,0
7,18700999,2000,8,0,66,0,0,0,2,0,0,0,0,0,0,0,0
8,18639262,2019,10,6,50,1,0,0,0,1,0,1,0,0,0,0,0

In [682]:
Prospect_df = Prospect_df.fillna(0)

In [683]:
target = Prospect_df["Lead_Status"]

In [684]:
train_df = Prospect_df.drop(["Lead_Status","Prospect_ID","Campaign_ID","type_view","type_spam_complaint","type_success","type_unsubscribe_page"], axis=1)

In [685]:
train_df.head()

,Company,Job_Title,Score,Source,type_open,type_registered_webinar,type_attended_webinar,type_click,type_resubscribed,type_bounced
2,6,11,60,0,0,0,0,1,0,0
4,9,12,72,4,0,1,0,0,0,0
6,4,11,96,0,0,0,0,0,1,0
7,8,0,66,0,0,0,0,0,0,0
8,10,6,50,1,0,1,0,1,0,0

In [686]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df,target, test_size=0.1, random_state=112)

In [697]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [698]:
pred = model.predict(X_test)

In [699]:
accuracy_score(y_test,pred)

0.52

In [700]:
new_score = model.predict_proba(X_test)[:,1]*100

In [701]:
new_score[0:5]

array([54.24781279, 35.54998002, 55.75769311, 57.99719177, 55.29012305])